<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Storm Web Hosting Site</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<header  class="other-head">
			<div class="container">
					<h1 id="logo"><a href="../index.html">STORM</a></h1>
					<div class="left">
						<ul class="list">
							<li><a href="../views/aboutUs.html">About Us</a></li>
							<li><a href="../views/ourVision.html">Our Vision</a></li>
							<li><a href="../views/doc.html">Documentation</a></li>
							<li><a href="../views/support.html">Support</a></li>
						</ul>
					</div>
					<div class="right">
						<ul class="list">
							<li><a href="../views/login.html">Login</a></li>
							<li><a href="../views/register.html">Register</a></li>
						</ul>
					</div>
				</div>
		</header>
		<main id="login-page">
			<div class="login-cont">
				
						<form action="#" method="post" name="loginForm">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required><br>
							<span class="remember"><a href="#">Forgot Password</a></span><br><br>
							<label>
								<input type="checkbox"> Remember Me
							</label><br><br>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>

			</div>
		</main>
		<footer>
			<p class="footer-note">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> storm web hosting company.</p>
			<ul class="footer-list">
				<li><a href="#">Terms of Service</a> |</li>
				<li><a href="#">Privacy Policy</a> |</li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
		<script src="../js/jquery-2.4.4.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/app.js"></script>
	</body>
</html>