<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Storm Web Hosting Site</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<header  class="other-head">
			<div class="container">
					<h1 id="logo"><a href="../index.html">STORM</a></h1>
					<div class="left">
						<ul class="list">
							<li><a href="../views/aboutUs.html">About Us</a></li>
							<li><a href="../views/ourVision.html">Our Vision</a></li>
							<li><a href="../views/doc.html">Documentation</a></li>
							<li><a href="../views/support.html">Support</a></li>
						</ul>
					</div>
					<div class="right">
						<ul class="list">
							<li><a href="../views/login.html">Login</a></li>
							<li><a href="../views/register.html">Register</a></li>
						</ul>
					</div>
				</div>
		</header>
		<main id="vision-page">
			<article class="about-art">
				<h2 class="center-set">Our Vision</h2>
				<hr>
				<p>Hello There!!! A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web. Web hosts are companies that provide space on a server owned or leased for use by clients, as well as providing Internet connectivity, typically in a data center. Web hosts can also provide data center space and connectivity to the Internet for other servers located in their data center, called colocation, also known as Housing in Latin America or France.
				</p>
			</article>
		</main>
		<footer>
			<p class="footer-note">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> storm web hosting company.</p>
			<ul class="footer-list">
				<li><a href="#">Terms of Service</a> |</li>
				<li><a href="#">Privacy Policy</a> |</li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
		<script src="../js/jquery-2.4.4.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/app.js"></script>
	</body>
</html>